.home-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: $light-charcoal;
}

.terminal {
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.2), 
    0 20px 20px hsla(0, 0%, 0%, 0.2);
  display: inline-block;
  margin: 0 auto;
  height: 45vw;
  width: 80vw;
  background-color: $darkest-charcoal;
  border-radius: 10px;
  position: absolute;
  left: 0; 
  right: 0;
  top: 0; 
  bottom: 0;
  margin: auto;

  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 70px;
  height: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;  
  margin: 5px;
}

.dot__turquoise {
  background-color: $light-turquoise;
}

.dot__red {
  background-color: $medium-red;
}

.dot__green {
  background-color: $darkest-green;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
}

.btn-header {
  position: absolute;
  color: $medium-turquoise;
  top: 30px;
  right: 30px;
  text-decoration: none;
}

.btn {
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2), 0 10px 20px hsla(0, 0%, 0%, 0.2);
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px 7px hsla(0, 0%, 0%, 0.2);
}

.btn-white {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 47%);
}


.header-primary {
  color: hsl(0, 0%, 100%);
  backface-visibility: hidden;
  margin-bottom: 60px;
  display: block;
  text-align: center;
}

.header-primary-main {
  margin-bottom: $margin__100;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  text-align: center;
  text-indent: 35px;
}

.header-primary-sub {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 9px;
  text-align: center;
  text-indent: 9px;
}


.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
