$lightest-blue: hsla(222, 100%, 43%, 0.137);
$light-blue: hsla(222, 100%, 43%, 0.335);
$medium-blue: hsla(222, 100%, 43%, 0.507);  
$dark-blue: hsla(222, 100%, 43%, 0.712);
$darkest-blue: hsla(222, 100%, 43%, 0.87);

$lightest-turquoise: hsla(187, 100%, 43%, 0.137);
$light-turquoise: hsla(187, 100%, 43%, 0.335);
$medium-turquoise: hsla(187, 100%, 43%, 0.507);  
$dark-turquoise: hsla(187, 100%, 43%, 0.712);
$darkest-turquoise: hsla(187, 100%, 43%, 0.87);

$lightest-charcoal: hsla(204, 19%, 26%, 0.137);
$light-charcoal: hsla(204, 19%, 26%, 0.335);
$medium-charcoal: hsla(204, 19%, 26%, 0.507);  
$dark-charcoal: hsla(204, 19%, 26%, 0.712);
$darkest-charcoal: hsla(204, 19%, 26%, 1.0);

$lightest-red: hsla(10, 88%, 35%, 0.137);
$light-red: hsla(10, 88%, 35%, 0.335);
$medium-red: hsla(10, 88%, 35%, 0.507);  
$dark-red: hsla(10, 88%, 35%, 0.712);
$darkest-red: hsla(10, 88%, 35%, 1.0);

$lightest-green: hsla(133, 100%, 21%, 0.128);
$light-green: hsla(133, 100%, 21%, 0.335);
$medium-green: hsla(133, 100%, 21%, 0.507);  
$dark-green: hsla(133, 100%, 21%, 0.712);
$darkest-green: hsla(133, 100%, 21%, 1.0);

$margin__100: 12px;
$margin__200: 14px;
$margin__300: 16px;
$margin__400: 20px;
$margin__500: 24px;
$margin__600: 30px;
$margin__700: 38px;
$margin__800: 50px;
$margin__900: 72px;

$text-size__100: 12px;
$text-size__200: 14px;
$text-size__300: 16px;
$text-size__400: 20px;
$text-size__500: 24px;
$text-size__600: 30px;
$text-size__700: 38px;
$text-size__800: 50px;
$text-size__900: 72px;